figure.aside {
  width: 35%;

  @media (min-width: 500px) {
    width: 20%;
  }

  & + p::after {
    content: "";
    clear: both;
    display: table;
  }

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}

*:target {
  background-color: rgba(215, 215, 0, 0.2);
  border-radius: 10%;
}
